/* App.css */
.appmaindiv {
  display: flex;
  height: 100vh;
  background-color: white;
  color: black;
}

.sidebar {
  width: 280px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1000; /* Ensure sidebar stays above other content */
}

.content {
  flex-grow: 1;
  margin-left: 280px; /* Adjust this margin to accommodate sidebar width */

  overflow-y: auto; /* Enable vertical scroll if needed */
}
